.header{
    width: 100%;
    height: 500px;
    border: solid 1px yellow;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.73R_Y1wxwcA3nhK0xYgFSwHaEo%26pid%3DApi&f=1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}