*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #080710;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container{
    max-width: 1200px;
    height: 750px;
    padding: 50px;
    background-color: #e5e5e527;
    border-radius: 20px;
    display: flex;
    /* flex-direction: column; */
    color: #fff;
    position: relative;
}
.text_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-register{
    /* background-color: #e5e5e527; */
    position: absolute;

}
.hidden{
    visibility: hidden;

}

form{
    width: 500px;
    height:420px;
    padding: 50px 3px;
    display: flex;
    flex-direction: column;
}
form *{
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
}
.container_input{
    display: flex;
    justify-content: space-between;
}
input{
    width: 220px;
    height: 40px;
    padding: 5px 19px;
    border-radius: 12px;
}

.container_button{
    display: flex;
    justify-content: space-between;
}


