*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #080710;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container{
    max-width: 1200px;
    height: 700px;
    padding: 50px;
    background-color: #010003;
    border-radius: 20px;
    display: flex;
    /* flex-direction: column; */
    color: #fff;
}
.text_head{
    display: flex;
    justify-content: space-between;
}


form{
    width: 500px;
    height:420px;
    padding: 50px 3px;
    display: flex;
    flex-direction: column;
}
form *{
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
}
.container_input{
    display: flex;
    justify-content: space-between;
}
input{
    width: 220px;
    height: 40px;
    padding: 5px 9px;
    border-radius: 12px;
}
.firstname::after{
    content: '\01F464';
    color: #000;

}
.container_button{
    display: flex;
    justify-content: space-between;
}
.content-right{
    display: flex;
    justify-content: center;
}

.letter {
    display: inline-block;
    opacity: 0;
  }
  
  .item_animation {
    display: inline-block;
  }
  
