*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
body {
  font-family: 'Crimson Pro', serif;
  -webkit-font-smoothing: antialiased;
}


/* Container */
.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Search */
.search{ 
  position: absolute; 
  margin: 20px 150px; 
  border-radius: 5px;
  z-index: 4000;
  position: fixed;
  background-color: aqua; 
}

/* #content {
  position: absolute;
  height: 50px;
  width: 300px;
  margin-left: 170px;
  top: 50%;
  left: 50%;
  background-color: aquamarine;
  transform: translate(-50%, -50%);
} */

/* #content.on {
  -webkit-animation-name: in-out;
  animation-name: in-out;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

input {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  background: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
} */

/* .search {
  background: none;
  position: absolute;
  top: 0px;
  left: 0;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
} */
/* 
.search:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 26px;
  margin-left: 17px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
} */

/* .close {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
} */

.close:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  margin-top: -1px;
  margin-left: -13px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  background-color: #fff;
  margin-top: -1px;
  margin-left: -13px;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.square {
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 300px;
  height: 50px;
  border: 4px solid #ffffff;
  border-radius: 0;
  background: none;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}




/* Sidebar */

.nav{
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 5000;
  position: fixed;
  display: flex;
  justify-content: space-between;
}


.main{
    width: 100%;
    height: 100vh;
    /* background-image: url('https://images2.alphacoders.com/108/108142.jpg'); */
    background-position: center;
    background-size: cover;
    position: absolute;
    position: fixed;
}
/* Sidebar */
/* .sidebar ul{
    color: aliceblue;
}
.main .container-txt{
    margin: 200px 150px;
    color: #fff;
    text-shadow: 1px 1px 5 rgb(15, 8, 8);
}
.main .container-txt h1{
    font-size: 50px;
}
.main .container-txt p{
    max-width: 350px;
}
.sidebar a:hover{
  color: #fff;
} */


/* Container  carousels */
.container_carousel , .container_carousel_2 , .container_carousel_3{
  /* color: #fff; */
}
.container_carousel :hover{
  color: #fff;
  /* background-color: rgba(0, 0, 0, 0.322); */
}
.container_carousel_2 :hover{
  color: #fff;
  /* background-color: rgba(0, 0, 0, 0.322); */
}
.container_carousel_3 :hover{
  color: #fff;
  /* background-color: rgba(0, 0, 0, 0.322); */
}
/* Carousel style */

.container_carousel{
  position: absolute;
  margin-top: 790px;
}

.container_carousel h1,
.container_carousel p {
  text-align: center;
}
.container_carousel p {
  width: 100%;
  max-width: 500px;
  margin: auto;
}
.container_carousel a:link,
a:hover,
a:active,
a:visited {
  /* -webkit-transition: color 150ms; */
  transition: color 150ms;
  /* color: #95a5a6; */
  text-decoration: none;
}
.container_carousel a:hover {
  color: #7f8c8d;
  text-decoration: underline;
  transition-delay:3s;
}
.container_carousel .contain {
  width: 100%;
}
.row {
  overflow: scroll;
  width: 100%;
}
.row__inner {
  -webkit-transition: 450ms -webkit-transform;
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: wrap;
  margin: 70.3125px 0;
  padding-bottom: 10px;
}
.tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140.625px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 450ms all;
  transition: 450ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.tile__img {
  width: 250px;
  height: 140.625px;
  -o-object-fit: cover;
  object-fit: cover;
}
.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  /* font-size: 10px; */
  /* opacity: 0; */
  /* background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.9)), to(rgba(0,0,0,0))); */
  /* background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%); */
  /* -webkit-transition: 450ms opacity; */
  /* transition: 450ms opacity; */
}
.tile__details:after,
.tile__details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  /* display: #000; */
}
.tile__details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  /* background: rgba(0,0,0,0.5); */
  z-index: 1;
}
.tile__details:before {
  content: '▶';
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: px;
  margin-top: -24px;
  text-align: center;
  z-index: 2;
}
.tile:hover .tile__details {
  opacity: 1;
}
.tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.row__inner:hover {
  -webkit-transform: translate3d(-62.5px, 0, 0);
          transform: translate3d(-62.5px, 0, 0);
}
.row__inner:hover .tile {
  opacity: 0.3;
}
.row__inner:hover .tile:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}
.tile:hover ~ .tile {
  -webkit-transform: translate3d(125px, 0, 0);
          transform: translate3d(125px, 0, 0);
}



/* Carousel 2 */


.container_carousel_2{
  position: absolute;
  margin-top: 1300px;
  margin-left: 89px;
}
.container_carousel_2  h1,
.container_carousel_2  p {
  text-align: center;
}
.container_carousel_2  p {
  width: 100%;
  max-width: 500px;
  margin: auto;
}
.container_carousel_2 a:link,
a:hover,
a:active,
a:visited {
  -webkit-transition: color 150ms;
  transition: color 150ms;
  color: #95a5a6;
  text-decoration: none;
}
.container_carousel_2 a:hover {
  color: #7f8c8d;
  text-decoration: underline;
}
.container_carousel_2 .contain {
  width: 100%;
}

/*   Crousel 3 */


.container_carousel_3  h1,
.container_carousel_3  p {
  text-align: center;
}
.container_carousel_2  p {
  width: 100%;
  max-width: 500px;
  margin: auto;
}
.container_carousel_3 a:link,
a:hover,
a:active,
a:visited {
  -webkit-transition: color 150ms;
  transition: color 150ms;
  color: #95a5a6;
  text-decoration: none;
}
.container_carousel_3 a:hover {
  color: #7f8c8d;
  text-decoration: underline;
}
.container_carousel_3 .contain {
  width: 100%;
}

.container_carousel_3{
  position: absolute;
  margin-top: 1800px;
  margin-left: 89px;
}





/* responsive */
@media screen and (max-width:1224px) {
  .sidebar{
    display: none;
  }
  /* .menuBurger{

  } */
}
@media screen and (min-width:1223px) {
  
}