/* .card{
    width: 150px;
    height: 270px;
    background-color: rgb(90, 72, 72);
    color: aliceblue;
}

.card img{
    width: auto;
}
.info-carousel{
    display: flex;
    align-items: center;
}
.blurImg{
    width: 100%;
    
    overflow: hidden;
    position: relative;
}
.blurImg img{
    height: 100%;
    transition: all 0.3s;
}
.blurImg p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: rgb(228, 247, 223);
    font-size: 2em;
    opacity: 0;
    transition: all 0.3s;
    text-shadow: 0 0 5px rgb(20, 20, 24) , 1px 1px 5px red , -1px -1px 5px blue;
}
.blurImg:hover img{
    transform: scale(1.1);
    -webkit-filter: grayscale(100%) blur(2px);
    filter: grayscale(100%) blur(2px);
}
.blurImg:hover p {
    opacity: 1;
    cursor: pointer;
}
.titleCarousel {
    text-shadow: 0 0 5px rgb(0, 0, 0);
} */