.navbar{
    width: 90%;
    height: 70px;
    display: flex;
    background-color: rgba(5, 5, 5, 0.829);
    position: fixed;
    z-index: 5000;
    justify-content: space-between;
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.menu-left , .menu-right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.menu-right{
    float: right;
}
li{
    display: inline-block;
    margin: 10px;
    background-color: transparent;
    padding: 1px 3px;

}
li:hover{
    background-color: rgba(87, 83, 83, 0.719);
    padding: 1px 3px;
    border-radius: 3px;
}


/* Serch input */
.search {
    padding: 5px;
    color: #eee;
    background: linear-gradient(to bottom right,#460b2f60,#429bee65);
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
}
.search :is(input , button) {
    color: inherit;
    border: none;
    background: transparent;
    outline: none;
}
.search_input {
    width: 0;
}
.search_btn {
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
    cursor: pointer;
}
.search:focus-within input {
    width: 200px;
    transition: 0.7s ease-in-out;
}
::placeholder {
    color: inherit;
}
.fa-regular{
    position: absolute;
}


.filterIcon{
    cursor:pointer;
    position: absolute;
}
.modal{
    position: absolute;
    z-index: 6000;
}
.container-filter{
    position: relative;
}