
/* Serch input */
/* .search {
    padding: 5px;
    color: #eee;
    background: linear-gradient(to bottom right,#460b2f60,#429bee65);
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
} */
/* .search :is(input , button) {
    color: inherit;
    border: none;
    background: transparent;
    outline: none;
} */
.search_input {
    width: 200px;
    margin: 15px -20px;
    padding: 3px 5px;
    background-color: transparent;
    border: solid 1px rgb(139, 130, 130);
    border-radius: 7px;
    color: aliceblue;

}

@media screen and (max-width:996px) {
    .navbar{
        display: none;
    }
}