.home{
    width: 100%;
    height: 100vh;
    margin: auto;
    position: relative;
}
.header-home{
    width: 100%;
    height: 700px;
    padding-top: 70px;
}
.header-home .imagHeader{
    width: 100%;
    height: 1000px;
    background-image: url(https://www.itl.cat/pngfile/big/202-2024159_one-piece-monkey-d-luffy-straw-hat-portrait.jpg);
    background-position: center;
    background-size: cover;
    
}

.header-home .text-head{
    width: 400px;
    height: 500px;
    margin: -600px 100px;
    display: flex;
    flex-direction: column;
}
.text-head p , h1{
    text-align: left;
}
.text-head p {
    width: 350px;
    line-height: 30px;
}
.container-btn{
    display: flex;
    justify-content: space-between;
}
.container-btn button{
    width: 150px;
}

.btn-carousel button:hover{
    background-color: rgb(23, 65, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.container-play-rating{
    /* background-color: rgb(37, 34, 34); */
}
.titleCarousel{
    color: #fff;
    margin-left: 15px;
}
.carousel {
    margin: 200px auto;
}
.info-carousel{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:1298px) {
    .header-home .text-head{
        width: 400px;
       height: 400px;
    }
    .header-home .text-head h1{
        width: 400px;
        font-size: 50px;
    }
}
@media screen and (max-width:963px) {
    .header-home{
        display: flex;
        justify-content: center;
    }
    .header-home .text-head{
        margin:400px auto;
        height: 460px;
    }
 
}
@media screen and (max-width:567px) {
    .text-head{
        padding: 50px;
        margin: 250px auto;
        text-align: center;
        
        background-color: rgba(39, 5, 5, 0.527);
    }
    .container-btn button{
        width: 120px;
    }
  
}
