.home{
    width: 90%;
    height: 100vh;
    margin: auto;
    position: relative;
}
.header{
    padding-top: 67px;
}
.text-head{
    position: absolute;
    margin: -700px 100px;
    display: flex;
    flex-direction: column;
    
}
.text-head p , h1{
    text-align: left;
}
.container-btn{
    display: flex;
}
button{
    background-color: rgb(12, 44, 44);
}

.btn-carousel button:hover{
    background-color: rgb(21, 110, 91);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}