.kid{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    
}
.header{
    padding-top: 67px;
    background-image: url(https://images.hdqwalls.com/download/raya-and-the-last-dragon-2021-gp-1920x1080.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.text-head{
    position: absolute;
    margin: -700px 100px;
    display: flex;
    flex-direction: column;
    
}
.text-head p , h1{
    text-align: left;
}
.container-btn{
    display: flex;
}
button{
    background-color: rgb(12, 44, 44);
}

.btn-carousel button:hover{
    background-color: rgb(23, 65, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.container-carousel{
    margin-top: 10px;
}