.nav{
    width: 90%;
    background-color: rgba(0, 0, 0, 0.747); 
}
.search_input {
    width: 200px;
    margin: 15px -20px;
    padding: 3px 5px;
    background-color: transparent;
    border: solid 1px rgba(158, 145, 145, 0.788);
    border-radius: 7px;
    color: aliceblue;
 
}
 
@media screen and (max-width:996px) {
    .navbar{
        display: none;
    }
}
 
.logo{
    width: 100px;
    margin: 0 auto;
}

.MuiButtonBase-root {
    width: 50px;
    padding: 0 5px;
}
.filter {
    margin-right: 20px;
}
.search {
    margin-left: 70px;
}