.btnMenu{
    width: 10px;
    height: 50px;
    float: left;
    color: aliceblue;
    border: solid 1px white;
    background-color: red;
    z-index: 50000;
}
.close::after{
    content: '\002716 Close';
}