.header-manga{
    width: 100%;
    height: 700px;
  }
  .header-manga .imageHeder{
    width: 100%;
    height: 700px;
    background-image: url(https://getwallpapers.com/wallpaper/full/9/e/a/454545.jpg);
    background-position: center;
    background-size: cover;
  }
  
  @media (max-width:567px) {
    .header-manga .text-head{
      width: 100%;
      margin: -500px auto;
    }
    .header-manga .text-head h1 {
      font-size: 30px;
    }
  }
  
  
  
  
  
  .manga{
    width: 90%;
    height: 100vh;
    margin: auto;
  }
  .container-carousel{
    margin-top: 200px;
  }
  .container-carousel{
    width: 90%;
    margin: 250px auto;
  }
  .marginT{
    margin-top: 20px;
  }